.home{
    display: flex;
    flex-direction: column;
}
.home__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.home__header a {
    margin-right: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
}
.home__header a:hover {
    text-decoration: underline;
}

.home__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 13vw;
}

.home__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.home__body >img{
    height: 80px;
    object-fit: contain;
}