.searchPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    min-width: 100vw;
}

.searchPage__header{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
}

.searchPageLogo{
    height: 30px;
    margin-top: 30px;
    margin-left: 30px;
    object-fit: contain;
}

.searchPage__headerCenter{
    display: flex;
    flex-direction: column;
    width: 692px;
    margin-left: 2rem;
}

.searchPage__options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchPage__optionLeft{
    display: flex;
}

.searchPage__optionRight{
    display: flex;
}

.searchPage__option{
    display: flex;
    align-items: center;
    color: gray;
    margin-right: 10px;
}

.searchPage__option a{
    color: gray;
    font-size: 14px;
    text-decoration: none;
}

.searchPage__headerRight{
    display: flex;
    margin-top: 2rem;
    margin-right: 40px;
}

.headerRight__avatar{
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 1rem;
    margin-top: -0.3rem;
}

.searchPage__results{
    max-width: 650px;
    margin-top: 20px;
    margin-left: 160px;
    margin-bottom: 100px;
    font-size: 14px;
}


